<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home Page</title>
    <style>
        body {
            background-color: #f4f6f9;
            color: #333;
            font-family: 'Helvetica Neue', Arial, sans-serif;
        }
        .navbar {
            background-color: #25347B;
        }
        .navbar-brand, .nav-link {
            color: #ffffff !important;
        }
        .navbar-brand:hover, .nav-link:hover {
            color: #ffcc00 !important;
        }
        .content-section {
            padding: 30px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        h2, h3 {
            color: #25347B;
        }
        .hero {
            background-color: #25347B;
            color: #ffffff;
            padding: 40px 20px;
            text-align: center;
        }
        .hero h1 {
            margin: 0;
            font-size: 2.5rem;
        }
    </style>
</head>
<body>
    <div class="hero">
        <h1>Sistema de Monte-Carlo</h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'plataforma' %}">Conceito</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'equipe' %}">Equipe</a>
            <a class="navbar-brand" href="{% url 'simulacao' %}">Simulador</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sua conta
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <div class="container mt-4">
        <div class="row mb-4">
            <div class="col-md-12 content-section">
                <h2>Introdução à Simulação de Monte-Carlo</h2>
                <p>
                    A simulação de Monte-Carlo é uma técnica matemática utilizada para entender o impacto do risco e da incerteza em modelos e sistemas de previsão. Ela foi desenvolvida durante a Segunda Guerra Mundial e desde então tem sido amplamente aplicada em diversas áreas. O nome "Monte-Carlo" foi inspirado no famoso cassino de Mônaco, refletindo a essência dos jogos de azar onde o resultado depende de eventos aleatórios.
                </p>
                <p>
                    A essência da simulação de Monte-Carlo é a geração de amostras aleatórias de variáveis de entrada para um modelo, a fim de prever a distribuição provável de resultados de saída. Essas amostras permitem a modelagem da probabilidade de diferentes resultados em um processo onde a interferência de variáveis aleatórias torna a previsão exata impossível.
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 content-section">
                <h3>Como Funciona a Simulação de Monte-Carlo?</h3>
                <p>
                    A simulação de Monte-Carlo envolve quatro etapas principais:
                </p>
                <ol>
                    <li><strong>Definição do Modelo:</strong> Estabelecer um modelo matemático que represente o sistema ou processo a ser analisado.</li>
                    <li><strong>Identificação das Variáveis:</strong> Identificar as variáveis de entrada do modelo que são incertas e precisam ser representadas por distribuições de probabilidade.</li>
                    <li><strong>Geração de Amostras:</strong> Usar um gerador de números aleatórios para criar amostras das distribuições de probabilidade das variáveis de entrada.</li>
                    <li><strong>Execução da Simulação:</strong> Rodar o modelo várias vezes (geralmente milhares ou milhões de vezes), cada vez usando uma combinação diferente de amostras de entrada, para gerar uma distribuição dos resultados possíveis.</li>
                </ol>
                <p>
                    O resultado é um panorama detalhado das possíveis saídas e suas probabilidades, permitindo uma análise de risco mais profunda e a tomada de decisões mais informadas.
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 content-section">
                <h3>Aplicações na Vida Real</h3>
                <p>
                    A simulação de Monte-Carlo é utilizada em várias áreas, incluindo:
                </p>
                <ul>
                    <li><strong>Finanças:</strong> Para avaliar o risco de portfólios de investimento, precificação de opções e análise de crédito.</li>
                    <li><strong>Gerenciamento de Projetos:</strong> Para estimar prazos de projetos, custos e alocação de recursos, levando em consideração incertezas e riscos.</li>
                    <li><strong>Engenharia:</strong> Para avaliar a confiabilidade de sistemas complexos e prever a vida útil de componentes.</li>
                    <li><strong>Pesquisa Científica:</strong> Para modelagem e simulação de fenômenos naturais e processos químicos.</li>
                    <li><strong>Produção:</strong> Para otimizar processos de fabricação e logística, minimizando custos e desperdícios.</li>
                </ul>
                <p>
                    A flexibilidade e a robustez da simulação de Monte-Carlo a tornam uma ferramenta indispensável para qualquer área que precise lidar com incertezas e variabilidades. Com o avanço da tecnologia computacional, essas simulações se tornaram ainda mais acessíveis e precisas, proporcionando insights valiosos e apoiando a tomada de decisões estratégicas.
                </p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 content-section">
                <h3>Vantagens e Desvantagens</h3>
                <p>
                    <strong>Vantagens:</strong>
                </p>
                <ul>
                    <li>Permite a análise de problemas complexos com muitas variáveis incertas.</li>
                    <li>Fornece uma distribuição completa dos resultados possíveis, não apenas uma estimativa única.</li>
                    <li>Pode ser aplicado a uma ampla gama de áreas e problemas.</li>
                    <li>Auxilia na identificação de riscos e oportunidades, melhorando a tomada de decisão.</li>
                </ul>
                <p>
                    <strong>Desvantagens:</strong>
                </p>
                <ul>
                    <li>Requer poder computacional significativo para simular um grande número de cenários.</li>
                    <li>A qualidade dos resultados depende da precisão dos modelos e das distribuições de probabilidade utilizadas.</li>
                    <li>Pode ser complexo de implementar e interpretar corretamente sem o conhecimento adequado.</li>
                </ul>
                <p>
                    Em suma, a simulação de Monte-Carlo é uma ferramenta poderosa para lidar com incertezas e variabilidades em diversos contextos. No entanto, deve ser utilizada com cautela e compreensão das suas limitações para garantir resultados válidos e úteis.
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
