<!-- No seu monte_carlo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Simulação de Monte Carlo</title>
</head>
<body>
    <h2>Simulação de Monte Carlo para Duração</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Executar Simulação</button>
    </form>
    
    {% if plot_url %}
    <div>
        <h3>Resultado da Simulação</h3>
        <img src="{{ plot_url }}" alt="Gráfico da simulação">
        <br><br>
        
    </div>
    {% endif %}
    
</body>
</html>
